/* Vergroot de contentbreedte mee met het scherm */
@media screen and (min-width: 76.25em) {
  .md-grid {
    max-width: min(90vw, 1800px);
  }
}

/* Tabellen vullen altijd de volledige breedte */
.md-content__inner table {
  width: 100%;
  display: table;
}
